<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knapsack</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <section class="main">
        <div class="form">
            <h1>Knapsack</h1>
            <form action="/" method="POST" onsubmit="validateForm()">
                <label for="weight_capacity">Weight Capacity:</label>
                <input type="number" id="weight_capacity" name="weight_capacity" required><br><br>

                <label for="weight_values">Weight Values (comma-separated):</label>
                <input type="text" id="weight_values" name="weight_values" required><br><br>

                <label for="profit_values">Profit Values (comma-separated):</label>
                <input type="text" id="profit_values" name="profit_values" required><br><br>
                <button class="btn" type="submit" id="submit" name="action" value="Calculate">Calculate</button>
                <span id="error_message" class="error_message"></span>


            </form>
            <span class="result">To See Result: <a href="#go">Click Here</a></span>
        </div>
    </section>
    <section class="table" id="go">
        <h1><span>C</span>
            <span>A</span>
            <span>L</span>
            <span>C</span>
            <span>U</span>
            <span>L</span>
            <span>A</span>
            <span>T</span>
            <span>I</span>
            <span>O</span>
            <span>N</span>
            <span>S</span>
        </h1>
        <div class="tables">
            <div class="knapsack">
                <table>
                    <h1>0/1 Knapsack Analysis</h1>
                    {% if table|length != 0 %}
                    <thead>
                        <tr>
                            <th>Profit</th>
                            <th>Weight</th>
                            {%for colunm in range(table[0]|length)%}
                            <th>{{colunm}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>

                        {%for row in range(table|length)%}
                        <tr>
                            {% if row in selected_weights %}
                            <td class="green">{{profit[row]}}</td>
                            <td class="green">{{weight[row]}}</td>
                            {% else %}
                            <td>{{profit[row]}}</td>
                            <td>{{weight[row]}}</td>
                            {%endif%}
                            {%for colunm in range(table[row]|length)%}
                            <td class="blue">{{table[row][colunm]}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    {%endif%}
                </table>
                <h1 class="pro">Profit = {{prof}}</h1>
            </div>

            <div class="fractional">
                <table>
                    <h1>Fractional Analysis</h1>
                    {% if table|length != 0 %}
                    <thead>
                        <tr>
                            <th>i</th>
                            {%for colunm in range(fraction|length)%}
                            <th>{{colunm+1}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Profit</td>
                            {%for colunm in range(profit_ls|length)%}
                            {% if ind >= loop.index %}
                            <td class="green">{{profit_ls[colunm]}}</td>
                            {% else %}
                            <td class="blue">{{profit_ls[colunm]}}</td>
                            {%endif%}
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Weight</td>
                            {%for colunm in range(weight_ls|length)%}
                            <td class="blue">{{weight_ls[colunm]}}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>P/W</td>
                            {%for colunm in range(fraction|length)%}
                            <td class="blue">{{fraction[colunm]}}</td>
                            {% endfor %}

                        </tr>
                    </tbody>
                    {%endif%}
                </table>
                <h1 class="pro">Profit = {{profit_val}}</h1>

            </div>
        </div>
    </section>
    <script>
        function checkString(array) {
            return array.every(element => {
                return typeof element === 'number';
            });
        }

        function validateForm() {
            var weightValues = document.getElementById("weight_values").value;
            var profitValues = document.getElementById("profit_values").value;

            // Check if weight values and profit values are separated by commas
            var weightArray = weightValues.split(",").map(function (value) {
                return value.trim();
            });

            var profitArray = profitValues.split(",").map(function (value) {
                return value.trim();
            });

            // Check if the length of weight values is equal to the length of profit values
            if (weightArray.length !== profitArray.length) {
                var errorSpan = document.getElementById("error_message");
                errorSpan.textContent = "Length of weight values must be equal to length of profit values";
                event.preventDefault(); // Prevent form submission
                return;
            }

            // Check if all elements in the weight and profit arrays are integers
            var isValid = weightArray.every(function (value) {
                return Number.isInteger(parseInt(value));
            }) && profitArray.every(function (value) {
                return Number.isInteger(parseInt(value));
            });

            if (!isValid) {
                var errorSpan = document.getElementById("error_message");
                errorSpan.textContent = "All elements must be integers";
                event.preventDefault(); // Prevent form submission
                return;
            }

            // Check if any value is empty or contains spaces
            var isValuesValid = weightArray.every(function (value) {
                return value !== "" && !value.includes(" ");
            }) && profitArray.every(function (value) {
                return value !== "" && !value.includes(" ");
            });

            if (!isValuesValid) {
                var errorSpan = document.getElementById("error_message");
                errorSpan.textContent = "All values must be separated by comma";
                event.preventDefault(); // Prevent form submission
                return;
            }
            // If all validations pass, display success message
            var errorSpan = document.getElementById("error_message");
            errorSpan.textContent = "Successfully Calculated ";
            errorSpan.style.color = "green";
        }

        window.addEventListener('resize', function () {
            if (window.innerWidth < 780) {
                var Heading = document.getElementById('go');
                console.log(Heading)
                Heading.innerHTML = 'Calculations';
            }

        });

    </script>
</body>

</html>